<div class="container-fluid">
  <div class="row">
    <div class="bg-dark min-vh-100 bucketPane col-3">
      {{#if loggedIn}}
      <div class="card-body d-grid gap-2">
        <button class="add2BucketButton btn btn-dark border-light" type="button">Click on a streaming service to see a current stream list, or search a title to see where it's available!</button>
      </div>
      <div class="card-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="descriptionButton accordion-button collapsed bg-light" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                My Bucket
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse bg-dark" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div id="bucketList" class="card-body d-grid gap-1">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{else}}
      <div class="card-body d-grid gap-2">
        <button class="add2BucketButton btn btn-dark border-light" type="button">Welcome to Binge
          Bucket!<br /><br />Create an account and/or Login.<br />Then begin searching!<br />Create your
          personalized<br />BINGE BUCKET now!</button>
      </div>

      {{!-- Login Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Login Form --}}
          <form class="login-form" id="logonForm">
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="email-login" placeholder="name@example.com">
              <label for="email-login">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-login" placeholder="Password">
              <label for="password-login">Password</label>
            </div>
            <div class="d-grid">
              <button class="btn btn-body text-light" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
      {{!-- End Login Card --}}

      {{!-- Sign-up Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Sign-up Form --}}
          <form class="signup-form" id="signupForm">
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="username-signup">
              <label for="username-signup">Username</label>
            </div>
            <div class="form-floating mb-1">
              <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
              <label for="email-signup">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-signup" placeholder="Password">
              <label for="password-signup">Password</label>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-body text-light" type="submit">Join BingeBucket</button>
            </div>
          </form>
        </div>
      </div>
      {{!-- End Sign-up Card --}}
      {{/if}}

    </div>

    {{!-- MainView Start --}}
    <div class="mainView col-9 my-2">
      <div id="cardBox">
        <div class="row row-cols-1 row-cols-md-4 g-4">

          {{#each streamData}}
          <div class="col">
            <div class="card text-white bg-dark mb-1" style="max-width: 18rem;">
              <img src="{{posterURLs.original}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{originalTitle}}</h5>
              </div>
              <div class="card-body">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="descriptionButton accordion-button collapsed bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        Description
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Binge Bucket Rating: {{imdbVoteCount}}. <br /><br />IMDB Rating: {{imdbRating}}.<br /><br />
                        {{overview}}
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="castButton accordion-button collapsed bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Cast
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">{{cast}}</div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- buttons --}}
              <div class="card-body d-grid gap-1">
                <button class="add2BucketButton btn btn-dark border-light bucketAddition" data-imdb="{{imdbID}}"
                  data-originalTitle="{{originalTitle}}" type="button">Add to Bucket</button>
                {{!-- link to streaming service --}}
                {{#if streamingInfo.netflix.us.link}}
               
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.netflix.us.link}}">Watch on Netflix</button>
              
                {{/if}}
                {{#if streamingInfo.hulu.us.link}}

        
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.hulu.us.link}}">Watch on Hulu</button>
           
                {{/if}}
                {{#if streamingInfo.prime.us.link}}

             
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.prime.us.link}}">Watch on Prime</button>
           
                {{/if}}
                {{#if streamingInfo.showtime.us.link}}

             
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.showtime.us.link}}">Watch on Showtime</button>
            
                {{/if}}
                {{#if streamingInfo.apple.us.link}}

        
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.apple.us.link}}">Watch on Apple</button>
             
                {{/if}}
                {{#if streamingInfo.paramount.us.link}}

             
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.paramount.us.link}}">Watch on
                    Paramount</button>
           
                {{/if}}
                {{#if streamingInfo.disney.us.link}}

         
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.disney.us.link}}">Watch on
                    Disney</button>
           
                {{/if}}
                {{#if streamingInfo.hbo.us.link}}

           
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.hbo.us.link}}">Watch on HBO</button>
         
                {{/if}}
                {{#if streamingInfo.peacock.us.link}}

      
                  <button class="platformLinkButton btn btn-dark border-light" type="button"
                    href="{{streamingInfo.peacock.us.link}}">Watch on
                    Peacock</button>
    
                {{/if}}
              </div>

            </div>
          </div>
          {{/each}}


        </div>
      </div>
    </div>

  </div>
</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/search.js"></script>
<script src="/javascript/bucket.js"></script>