<div class="container">
  <div class="row">
    <div class="bg-dark min-vh-100 bucketPane col">
      {{#if loggedIn}}
      <div class="card-body d-grid gap-2">
        <button class="add2BucketButton btn btn-light border-light" type="button"><strong>My Bucket</strong></button>
      </div>

      <div class="card-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="descriptionButton accordion-button collapsed bg-light" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                My Movies
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">

              <div class="accordion-body">
                <div class="card-body d-grid gap-2">
                  <button class="add2BucketButton btn btn-dark" type="button">Sweet Girl</button>
                  <button class="add2BucketButton btn btn-dark" type="button">Inception</button>
                  <button class="add2BucketButton btn btn-dark" type="button">Good Luck Chuck</button>
                  <button class="add2BucketButton btn btn-dark" type="button">The Lorax</button>
                  <button class="add2BucketButton btn btn-dark" type="button">Kung Fu Panda</button>
                </div>
              </div>

            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="castButton accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                My Shows
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">

              <div class="accordion-body">
                <div class="card-body d-grid gap-2">
                  <button class="add2BucketButton btn btn-dark" type="button">You</button>
                  <button class="add2BucketButton btn btn-dark" type="button">The Witcher</button>
                  <button class="add2BucketButton btn btn-dark" type="button">Stranger Things</button>
                  <button class="add2BucketButton btn btn-dark" type="button">Dead To Me</button>
                  <button class="add2BucketButton btn btn-dark" type="button">Breaking Bad</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="card-body d-grid gap-2">
        <button class="add2BucketButton btn btn-dark border-light" type="button">Scroll Down For Results!</button>
      </div>



      {{else}}
      {{!-- Login Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Login Form --}}
          <form class="login-form">
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="email-login" placeholder="name@example.com">
              <label for="email-login">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-login" placeholder="Password">
              <label for="password-login">Password</label>
            </div>
            <div class="d-grid">
              <button class="btn btn-body text-light" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
      {{!-- End Login Card --}}

      {{!-- Sign-up Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Sign-up Form --}}
          <form class="signup-form">
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="username-signup">
              <label for="username-signup">Username</label>
            </div>
            <div class="form-floating mb-1">
              <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
              <label for="email-signup">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-signup" placeholder="Password">
              <label for="password-signup">Password</label>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-body text-light" type="submit">Join BingeBucket</button>
            </div>
          </form>
        </div>
      </div>
      {{!-- End Sign-up Card --}}
      {{/if}}

    </div>

    {{!-- MainView Start --}}
    <div class="mainView col-8 my-2">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{!-- Netflix --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" idclass="form-control" placeholder="Search Netflix" aria-label="Search Netflix"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchNetflixButton">></button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Hulu --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="..\assets\images\HULU.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Hulu" aria-label="Search Hulu"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchHuluButton">></button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Amazon Prime --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets\images\AMAZON.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Prime" aria-label="Search Prime"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchPrimeButton">></button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Showtime --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets\images\SHOWTIME.png" alt="logo">
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Showtime" aria-label="Search Showtime"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchShowtimeButton">></button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Apple TV --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="..\assets\images\APPLE.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search AppleTV" aria-label="Search AppleTV"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchAppleButton">></button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Paramount --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="..\assets\images\PARAMOUNT.jpg" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Paramount" aria-label="Search Paramount"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchParamountButton">></button>
              </div>
            </div>
          </div>
        </div>


        {{!-- Disney --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="..\assets\images\DISNEy.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search DisneyPlus" aria-label="Search DisneyPlus"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchDisneyButton">></button>
              </div>
            </div>
          </div>
        </div>


        {{!-- HBO --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="..\assets\images\HBO.jpg" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search HBO" aria-label="Search HBO"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchHBOButton">></button>
              </div>
            </div>
          </div>
        </div>


        {{!-- Peacock --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets\images\PEACOCK.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Peacock" aria-label="Search Peacock"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchPeacockButton">></button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="cardBox" class="">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {{#each streamData}}
          <div class="col">
            <div class="card text-white bg-dark mb-3 my-3" style="max-width: 18rem;">
              <img src="{{posterURLs.original}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{originalTitle}}</h5>
              </div>
              <div class="card-body">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="descriptionButton accordion-button collapsed bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        Description
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {{overview}}
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="castButton accordion-button collapsed bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Cast
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">{{cast}}</div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- buttons --}}
              <div class="card-body d-grid gap-2">
                <button class="add2BucketButton btn btn-primary" type="button">Add to Bucket</button>
                <!-- REVIEW Button trigger modal -->
                {{!-- <button class="reviewModalTrigger btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#reviewButtonModal">BingeBucket Reviews
                  <span class="badge bg-dark">10</span></button> --}}
                {{!-- link to streaming service --}}
                <a href="{{streamingInfo.netflix.us.link}}">
                  <div class="card-body d-grid">
                    <button class="platformLinkButton btn btn-primary" type="button">Watch on Netflix</button>
                  </div>
              </div>
              </a>
            </div>
          </div>
          {{/each}}


        </div>
      </div>
    </div>

  </div>
</div>

<script src="/javascript/login.js"></script>